@model StoreSample.Web.Data.Book

@{
    ViewBag.Title = "Book - " + Model.Title;
}

<div class="container">
    <div class="row back-link">
        <div class="col-md-12">
            <a href="@Url.Action("Index", "Home")"><i class="glyphicon-backward glyphicon"></i> Back to list of books</a>
        </div>
    </div>
    <div class="row book-row">
        <div class="col-md-4">
            <figure class="product-image-box">
                <img width="280" src="@Model.GetCoverUrl()"
                     alt="book-23" title="book-23">
            </figure>
        </div>
        <div class="col-md-8">
            <h2>@Model.Title</h2>
            <h3 class="author">@Model.Author</h3>
            <p>@Model.Description</p>

            <span class="price">@Model.Price.ToString("c")</span>

            <br/>

            <a href="@Url.Action("Buy", new { Id = Model.IdBook})" title="Buy this book" class="btn cta btn-success">Buy this book!</a>
        </div>

    </div>
</div>
